@keyframes mainAnimation {
  0% {
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-top: -6vh;
  }

  100% {
    height: 40px;
    width: 350px;
    margin-left: calc((100vw - 760px) / 2);
    margin-top: 21px;
  }
}

@keyframes textAnimation {
  0% {
    font-size: 96px;
  }

  100% {
    font-size: 32px;
  }
}

@keyframes squareAnimation {
  0% {
    height: 100px;
    opacity: 1;
  }

  100% {
    height: 40px;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#animation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: -6vh;
  position: absolute;
  width: 100%;
  z-index: 200;

  h1 {
    display: table;
    font-family: "Source Code Pro", monospace;
    font-size: 96px;
    width: 350px;

    a, div {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    div {
      background: #aaa;
      height: 100px;
      width: 48px;
      opacity: 1;
    }
  }
}

#animation.done {
  animation: mainAnimation 0.5s ease;
  animation-fill-mode: forwards;

  h1 {
    animation: textAnimation 0.5s ease;
    animation-fill-mode: forwards;

    div {
      animation: squareAnimation 0.5s ease;
      animation-fill-mode: forwards;
    }
  }
}

#animation.done-fast {
  height: 40px;
  width: 350px;
  margin-left: calc((100vw - 760px) / 2);
  margin-top: 21px;

  h1 {
    font-size: 32px;

    div {
      height: 40px;
      opacity: 0;
    }
  }
}

#shield {
  background: $background-color;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

#shield.done {
  animation: fadeOut 0.5s ease;
  animation-fill-mode: forwards;
}

/** Mobile **/
nav {
  position: relative;

  h1 {
    display: table;
    font-family: "Source Code Pro", monospace;
    font-size: 32px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  #hamburger {
    margin-left: 32px;
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-color;
  z-index: 100;

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;

    li {
      text-align: center;

      a {
        color: #edfaf0;
        font-size: 28px;
        font-weight: bold;
        line-height: 42px;
        text-decoration: none;
      }
    }
  }

  #close {
    height: 24px;
    margin: 32px 0 0 32px;
  }
}
