#home {
  .photos {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom:25px;

    .photo {
      &.left {
        padding-right: 16px;
      }

      &.right {
        padding-left: 16px;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  a {
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: table;
    font-size: 20px;
    margin: 20px auto 16px;
    padding: 8px;
    text-decoration: none;
    transition: 0.25s ease all;
  }

  a:hover {
    background: #fff;
    color: $background-color;
    text-decoration: underline;
  }


  p {
    font-size: 17px;
    letter-spacing: 0.01em;
    line-height: 130%;
    text-align: justify;
  }

  h2 {
    margin:auto;
    text-align:center;
    margin-bottom:20px;
    padding-bottom:20px;
  }
}
