* {
  margin: 0;
  padding: 0;
}

html, body {
  background: $background-color;
  color: #fff;
  font-family: "Nunito", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

nav, section {
  max-width: 760px;
  padding: 32px calc((100% - 760px) / 2);
}

section {
  height: 1000px;
}

nav {
  align-items: center;
  color: #fff;
  display: flex;
}

nav h1 {
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin-left: auto;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 760px;
}
