* {
  margin: 0;
  padding: 0;
}

html, body {
  background: linear-gradient(-45deg,#D0D5F4,#D0F0F4,#82DADC , #D0F4DE);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: #fff;
  font-family: "Lato", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

nav, section {
  max-width: 760px;
  padding: 32px calc((100% - 760px) / 2);
}

section {
  padding-top: 0;

  h1 {
    font-size: 36px;
    margin-bottom: 24px;
    text-align: center;
  }
}

nav {
  align-items: center;
  color: #fff;
  display: flex;

  ul {
    display: inline-block;
    list-style-type: none;
    margin-left: auto;
    vertical-align: middle;

    li {
      display: inline-block;
      margin-left: 20px;

      a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
      }
      
      a.hover {
        color: white;
        text-decoration: none;
      }

      a.hover:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  section {
    padding: 0 32px;
  }
}
