#team {
  .people {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .person {
      box-sizing: border-box;
      display: inline-block;
      max-width: 28%;
      margin-bottom: 32px;

      img {
        border-radius: 8px;
        width: 100%;
      }

      figcaption {
        font-size: 18px;
        margin-top: 8px;
        text-align: center;

        span {
          font-size: 15px;
        }
      }
    }

    .person.left {
      padding-left: 96px;
      padding-right: 32px;
    }

    .person.right {
      padding-left: 32px;
      padding-right: 96px;
    }

    .person.center {
      display: block;
      margin: 0 auto;
    }
  }
}
