<!DOCTYPE html>
<html>
<head>
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:700" rel="stylesheet" />
  <title>MIT URTC{% if page.title != "MIT URTC 2019" %} | {{ page.title }}{% endif %}</title>
</head>
<body>
  <div id="animation">
    <h1>
      <a href="/">MIT URTC</a>
      <div></div>
    </h1>
  </div>
  <div id="shield"></div>
  <nav>
    <ul>
      {% for item in site.data.navigation %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {{ content }}
  <script type="text/javascript">
    var animation = {{ page.animation }};
  </script>
  <script src="animation.js"></script>
</body>
</html>
